<html>
  <head>
    <title>Home</title>
    <meta content="">
    <style></style>
  </head>
  <body>
	<form method="get" action="search" >
		<fieldset>
			<legend>Search contacts</legend>
				<input type="text" name="text"/>
				<input type="submit" value="Search">
		</fieldset>
	</form>
	<form method="post" action="register" >
		<fieldset>
			<legend>Register contact</legend>
				Last name: <input type="text" name="lastname" /><br>
				First name: <input type="text" name="firstname" /><br>
				Phone: <input type="text" name="phone" /><br>
				E-mail: <input type="text" name="email" /><br>
				<input type="submit" value="Register" /><br>
		</fieldset>
	</form>
  </body>
</html>
