<html>
  <head>
    <title>Facial Security</title>
    <meta content=""/>
    <link rel="stylesheet" href="{{ static_url('style.css') }}" type="text/css"/>
  </head>
  <body>
    {% if len(cursor) > 0 %}
    <table id="accesses">
      <thead>
        <th>Access Time</th>
        <th>Photo</th>
      </thead>
      <tbody>
        {% for item in cursor %}
        <tr>
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td>
        </tr>
        {% end %}
      </tbody>
    </table>
    {% else %}
    <table>
      <thead>
        <th>Access Time</th>
        <th>Photo</th>
      </thead>
      <tbody>
      </tbody>
    </table>
    {% end %}
  </body>
</html>
