<!DOCTYPE>
<html>
    <head>
      <title>My Facebook Login Page</title>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="{{ static_url('api_client.js') }}"></script>
      <script src="{{ static_url('script.js') }}"></script>
    </head>
    <body>
      <div id="fb-root"></div>
      <script src="//connect.facebook.net/en_US/all.js"></script>
      <script>
        FB.init({
        appId      : '221487381257914',
        status     : true,
        cookie     : true,
        oauth      : true,
        xfbml      : true
        });
      </script>
      <!--<div class="fb-login-button">Login with Facebook</div>-->
    </body>
 </html>
